.custom-card {
    width: 125px;
    height: 130px;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    border: 1px solid #e7ca9f;
    margin-bottom: 20px;
    cursor: pointer; /* Add cursor pointer */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effects */
}

.custom-card:hover {
    transform: translateY(-5px); /* Move the card up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

.custom-card-img {
    width: 80%;
    height: 70%;
}

.custom-card-label {
    color: #000;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}
