.footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    
  }
  
  .footer-top {
    margin-bottom: 20px;
  }
  
  .footer-top p {
    margin: 5px 0;
  }
  
  .app-buttons img {
    width: 150px; /* Adjust based on your design */
    margin: 0 10px;
  }
  
  .footer-sections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 15px;
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-bottom {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 14px;
  }
  
  .footer-bottom p {
    margin: 5px 0;
  }
  