
.navbar {
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow */
}

.content-container{
  margin-top: 10%;
}

.nav-link {
  margin-right: 10px;
}

.navbar-brand img{
  height: 55px;
}

.dropdown {
  margin-right: 10px;
}

.delivery-info {
  display: inline-block;
  margin-left: 10px; /* Adjust spacing between logo and text */
  margin-right: 10px;
  font-size: 14px;
  line-height: 1.2;
}

.navbar-toggler {
  margin-left: 20px; /* 20px margin between delivery info and collapse button */
}

.home-page{
  margin-top: 8%;
}

/* src/pages/HomePage.css */
.home-page .category-card, .home-page .product-card {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.home-page .category-card img, .home-page .product-card img {
  max-width: 100%;
  height: auto;
}

/* src/pages/CategoryPage.css */
.category-page .product-card {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.category-page .product-card img {
  max-width: 100%;
  height: auto;
}


